<div class="mm-logo-buttons-w">
  <a class="mm-logo" href="/"><img src="assets/img/logo.png"><span>Clean Admin</span></a>
  <div class="mm-buttons">
    <div class="content-panel-open">
      <div class="os-icon os-icon-grid-circles"></div>
    </div>
    <div class="mobile-menu-trigger">
      <div class="os-icon os-icon-hamburger-menu-1"></div>
    </div>
  </div>
</div>
<div class="menu-and-user">
  <div class="logged-user-w">
    <div class="avatar-w">
      <img alt="" src="assets/img/avatar1.jpg">
    </div>
    <div class="logged-user-info-w">
      <div class="logged-user-name">
        Maria Gomez
      </div>
      <div class="logged-user-role">
        Administrator
      </div>
    </div>
  </div>
  <ul class="main-menu">
    <li>
      <a routerLink="">
        <div class="icon-w">
          <div class="os-icon os-icon-window-content"></div>
        </div>
        <span>Dashboard</span></a>
    </li>
    <li>
      <a routerLink="customers">
        <div class="icon-w">
          <div class="os-icon os-icon-user-male-circle"></div>
        </div>
        <span>Customers</span></a>
    </li>
    <li>
      <a routerLink="transactions">
        <div class="icon-w">
          <div class="os-icon os-icon-delivery-box-2"></div>
        </div>
        <span>Transactions</span></a>
    </li>
  </ul>
</div>