<div class="card border space">
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="name">My Messages</div>

    <div class="actions" fxLayout="row">
      <button type="button" md-icon-button [mdMenuTriggerFor]="cardMenuRef">
        <md-icon class="icon">more_vert</md-icon>
      </button>
    </div>
  </div>

  <div class="content" fxLayout="column">
    <div class="list">
      <div class="list-item" *ngFor="let message of messages" fxLayout="row" md-ripple>
        <img class="list-image" [src]="message.image" alt="...">
        <div fxFlex class="list-content" fxLayout="column">
          <div> {{message.from}} </div>
          <div class="list-message">
            <div *ngIf="message.online" class="status-circle success"></div>
            <div *ngIf="!message.online" class="status-circle donut orange"></div>
            {{message.message}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer" fxLayout="row" fxLayoutAlign="end center">
    <button type="button" md-button color="primary">NEW MESSAGE</button>
  </div>
</div>

<md-menu #cardMenuRef="mdMenu">
  <button md-menu-item>
    <md-icon>refresh</md-icon>
    <span>Refresh</span>
  </button>
  <button md-menu-item>
    <md-icon>notifications_off</md-icon>
    <span>Disable alerts</span>
  </button>
  <button md-menu-item>
    <md-icon>exit_to_app</md-icon>
    <span>Remove Widget</span>
  </button>
</md-menu>
