<!--suppress UnnecessaryLabelJS -->
<div class="usertable-widget">

  <div class="card border space no-padding-content">
    <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="name">My Clients</div>

      <div class="actions" fxLayout="row">
        <button type="button" md-icon-button [mdMenuTriggerFor]="cardMenuRef">
          <md-icon class="icon">more_vert</md-icon>
        </button>
      </div>
    </div>

    <div class="content" fxLayout="column">

      <md-table #table [dataSource]="dataSource" mdSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>

        <!-- ID Column -->
        <ng-container cdkColumnDef="userId">
          <md-header-cell *cdkHeaderCellDef md-sort-header> ID</md-header-cell>
          <md-cell *cdkCellDef="let row">
            <md-checkbox></md-checkbox>
          </md-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container cdkColumnDef="progress">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Progress</md-header-cell>
          <md-cell *cdkCellDef="let row">
            <md-progress-spinner class="progress-spinner"
                                 mode="determinate"
                                 [value]="row.progress"
                                 strokeWidth="12"></md-progress-spinner>
            {{row.progress}}%
          </md-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container cdkColumnDef="userName">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Name</md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.name}}</md-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container cdkColumnDef="lastAction">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Last Action</md-header-cell>
          <md-cell *cdkCellDef="let row">
            <md-icon class="last-action-device">{{ row.lastActionDevice }}</md-icon>
            {{row.lastAction.fromNow()}}
          </md-cell>
        </ng-container>
      </md-table>

      <md-paginator #paginator
                    [length]="exampleDatabase.data.length"
                    [pageIndex]="0"
                    [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 25, 100]">
      </md-paginator>
    </div>
  </div>
</div>

<md-menu #cardMenuRef="mdMenu">
  <button md-menu-item>
    <md-icon>refresh</md-icon>
    <span>Refresh</span>
  </button>
  <button md-menu-item>
    <md-icon>notifications_off</md-icon>
    <span>Disable alerts</span>
  </button>
  <button md-menu-item>
    <md-icon>exit_to_app</md-icon>
    <span>Remove Widget</span>
  </button>
</md-menu>
