<div class="content-panel-close">
  <i class="os-icon os-icon-close"></i>
</div>
<div class="element-wrapper">
  <h6 class="element-header">
    Quick Links
  </h6>
  <div class="element-box-tp">
    <div class="el-buttons-list full-width">
      <a class="btn btn-white btn-sm" href="#"><i class="os-icon os-icon-delivery-box-2"></i><span>Create New Customer</span></a>
      <a class="btn btn-white btn-sm" href="#"><i class="os-icon os-icon-window-content"></i><span>Create New Employee</span></a>
    </div>
  </div>
</div>