<div class="reset-password-instructions">

  <vr-page-header [height]="'180px'" background="url(/assets/img/demo/headers/pattern-3.png)"
                  [reverse]="true"></vr-page-header>

  <div class="container">

    <vr-breadcrumbs [currentPage]="'Reset Password'" [names]="['Password']" [header]="'primary'"></vr-breadcrumbs>

    <div fxLayout="column" fxLayoutGap="16px" fxLayoutGap.gt-md="24px">
      <div class="splash"
           fxLayout="column" fxLayout.gt-sm="row">

        <div class="left" [style.background]="project.background"
             fxLayout="column"
             fxFlex.gt-xs="200px" fxFlex.gt-sm="300px">
          <div fxLayout="row" fxLayoutAlign="end center">
            <button class="options" type="button" md-icon-button>
              <md-icon>more_horiz</md-icon>
            </button>
          </div>
          <div class="codename"
               fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <div>{{ project.codename }}</div>
          </div>
        </div>

        <div class="right" fxFlex="auto" fxFlex.gt-sm
             fxLayout="column" fxLayoutAlign.gt-sm="space-between">
          <div class="splash-title">Reset Password</div>

          <div class="details"
               fxLayout="column" fxLayout.gt-sm="row"
               fxLayoutAlign.gt-sm="space-between" fxLayoutGap="16px" fxLayoutGap.gt-md="24px">
            <div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
              <form #form="ngForm" (ngSubmit)="update_forgot_password()">
                <div class="reset-password-instructions-content" fxLayout="column" fxLayoutAlign="start stretch">
                  <md-input-container>
                    <input mdInput placeholder="Password" type="password" name="password" required [(ngModel)]="user.password">
                  </md-input-container>
                  <md-input-container>
                    <input mdInput placeholder="Confirm Password" type="password" name="password_confirmation" required [(ngModel)]="user.password_confirmation">
                  </md-input-container>
                  <button color="primary" md-raised-button [disabled]="!form.valid">RESET PASSWORD</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
